@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-white: #fff;
    --brand-black: #000;
    --brand-success: #01c381;
    --brand-warning: #ff6500;
    --brand-error: #ff204e;
    --brand-info: #6eacda;
  }

  [data-theme="dark-violet"] {
    --brand-background: #522258;
    --brand-surface: #6e2d76;
    --brand-primary: #d1007a;
    --brand-secondary: var(--brand-white);
    --brand-accent: #8d3a98;
    --brand-text-primary: var(--brand-white);
    --brand-text-secondary: #deb5e3;
    --brand-border: #8d3a98;
    --brand-shadow: var(--brand-black);
    --brand-overlay: rgba(48, 20, 51, 0.7);
  }

  [data-theme="near-black"] {
    --brand-background: #37353e;
    --brand-surface: #44444e;
    --brand-primary: #d1007a;
    --brand-secondary: var(--brand-white);
    --brand-accent: #616170;
    --brand-text-primary: var(--brand-white);
    --brand-text-secondary: #c2c0c9;
    --brand-border: #646071;
    --brand-shadow: var(--brand-black);
    --brand-overlay: rgba(34, 33, 39, 0.7);
  }

  [data-theme="wireframe"] {
    --brand-background: #f4f3f7;
    --brand-surface: #d0ceda;
    --brand-primary: var(--brand-black);
    --brand-secondary: var(--brand-white);
    --brand-accent: var(--brand-white);
    --brand-text-primary: var(--brand-black);
    --brand-text-secondary: #5c5a65;
    --brand-border: #c0becc;
    --brand-shadow: var(--brand-black);
    --brand-overlay: rgba(255, 255, 255, 0.7);
  }

  .brand-bg-gradient {
    background-image: linear-gradient(
      190deg,
      var(--brand-surface) 0%,
      var(--brand-background) 37%,
      var(--brand-surface) 75%
    );
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply brand-bg-gradient flex justify-center text-xs leading-6 tracking-widest text-brandtextsecondary;
  }

  h1 {
    @apply mb-3 text-2xl font-black uppercase text-brandtextprimary;
  }

  h2 {
    @apply text-xl font-bold leading-8 tracking-wide text-brandtextprimary;
  }

  h3 {
    @apply mb-2 text-xs font-bold tracking-widest text-brandtextprimary;
  }

  label {
    @apply text-[0.6rem] uppercase tracking-widest;
  }

  input,
  textarea {
    @apply border-b border-brandsurface bg-transparent text-brandtextprimary outline-none transition duration-300;
  }

  input {
    @apply h-10;
  }

  textarea {
    @apply h-40 resize-none pt-2;
  }
}

@layer components {
  .tabtitle {
    @apply mb-5 text-xs uppercase tracking-widest text-brandtextsecondary;
  }

  .brand-btn {
    @apply transform rounded-md bg-brandprimary text-[0.6rem] uppercase tracking-[0.15rem] text-brandsecondary duration-300 hover:scale-[1.01] hover:shadow-md hover:shadow-brandshadow;
  }
}

/* Blog Post Table of Contents */
@layer utilities {
  aside nav ul ul a {
    @apply pl-4;
  }

  aside nav ul ul ul a {
    @apply pl-8;
  }

  aside a {
    @apply w-full transform border-2 border-transparent p-2 text-brandtextprimary duration-300 hover:border-l-2 hover:border-l-brandprimary hover:text-brandprimary;
  }

  aside ul li {
    @apply w-full pt-4;
  }
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(24, 1fr); /* 12-column grid */
  gap: 1px; /* Adjust spacing */
  pointer-events: none; /* Allows clicking through the grid */
  z-index: 9999; /* Ensure it's on top */
}

.grid-overlay div {
  background: #000;
  opacity: 0.2; /* Semi-transparent columns */
}

/* Hidden field for spam prevention.bots detect "display:none" */
.company-input {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Main menu effect */
.main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease;
}

.main-menu > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initially hidden */
  height: 0.15rem;
  background-color: var(--brand-primary); /* Border color */
  transition: width 0.3s ease-in-out;
}

.main-menu > ul > li > a:hover::after {
  width: 100%;
}
