@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand-white: #fff;
        --brand-black: #000;
        --brand-success: #01c381;
        --brand-warning: #ff6500;
        --brand-error: #ff204e;
        --brand-info: #6eacda;
    }

    [data-theme="dark-violet"] {
        --brand-background: #522258;
        --brand-surface: #6e2d76;
        --brand-primary: #d1007a;
        --brand-secondary: var(--brand-white);
        --brand-accent: #8d3a98;
        --brand-text-primary: var(--brand-white);
        --brand-text-secondary: #deb5e3;
        --brand-border: #8d3a98;
        --brand-shadow: var(--brand-black);
        --brand-overlay: rgba(48, 20, 51, 0.7);
    }

    [data-theme="near-black"] {
        --brand-background: #37353e;
        --brand-surface: #2c2a32;
        --brand-primary: #d1007a;
        --brand-secondary: var(--brand-white);
        --brand-accent: #2c2a32;
        --brand-text-primary: #fff;
        --brand-text-secondary: #afaeb2;
        --brand-border: #5f5d65;
        --brand-shadow: var(--brand-black);
        --brand-overlay: rgba(34, 33, 39, 0.7);
    }

    [data-theme="original"] {
        --brand-background: #dee5ea;
        --brand-surface: #eff2f4;
        --brand-primary: #486377;
        --brand-secondary: var(--brand-white);
        --brand-accent: #bdcbd4;
        --brand-text-primary: #24323b;
        --brand-text-secondary: #5c5a65;
        --brand-border: #bdcbd4;
        --brand-shadow: var(--brand-black);
        --brand-overlay: rgba(255, 255, 255, 0.7);
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply flex justify-center bg-brandbackground text-xs leading-6 tracking-wider text-brandtextsecondary;
    }

    h1 {
        @apply mb-3 text-2xl font-black uppercase text-brandtextprimary;
    }

    h2 {
        @apply text-xl font-bold leading-8 tracking-wide text-brandtextprimary;
    }

    h3 {
        @apply mb-2 text-xs font-bold tracking-widest text-brandtextprimary;
    }

    h4 {
        @apply text-brandtextprimary;
    }

    label {
        @apply text-[0.6rem] uppercase tracking-widest;
    }

    input,
    textarea {
        @apply border-b border-brandsurface bg-transparent text-brandtextprimary outline-none transition duration-300;
    }

    input {
        @apply h-10;
    }

    textarea {
        @apply h-40 resize-none pt-2;
    }

    /********** Blog Styles ************/
    article h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mt-20 scroll-mt-28 text-brandtextprimary; /* Add extra space so headings don't get hidden under the site menu */
    }

    article h1 {
        @apply mt-5 text-[2rem] font-extrabold normal-case leading-[2.5rem] tracking-normal;
    }

    article h2 {
        @apply pb-2 text-[1.75rem] font-bold leading-[2.18rem] tracking-normal;
    }
    article h2:first-of-type {
        @apply mt-0; /* Remove margin top for the first heading to align with table of content in bigger screens */
    }

    article h3 {
        @apply text-[1.5rem] font-semibold leading-[1.87rem] tracking-normal;
    }

    article h4 {
        @apply text-[1.375rem] font-medium leading-[1.71rem] tracking-normal;
    }

    article h5 {
        @apply text-[1.25rem] font-medium leading-[1.56rem] tracking-normal;
    }

    article h6 {
        @apply text-[1.125rem] font-normal leading-[1.40rem] tracking-normal;
    }

    article blockquote {
        @apply mt-20 border-l border-brandtextprimary p-5 text-xl font-medium leading-loose text-brandtextprimary sm:ml-5;
    }

    article ul {
        @apply w-fit list-disc;
    }

    article ol {
        @apply w-fit list-decimal;
    }

    article ul li {
        @apply border-brandtextsecondary;
    }

    article section a {
        @apply transform border-b-[0.0625rem] border-dotted border-brandtextsecondary p-1 pb-1 font-bold leading-10 text-brandtextprimary duration-300;
    }
    article section a:hover {
        @apply rounded-md border-solid border-brandborder bg-brandsurface p-1 text-brandtextsecondary;
    }

    article table {
        @apply rounded-lg;
    }

    article td {
        @apply rounded-xl px-4 py-8;
    }

    article tr {
        @apply rounded-xl odd:bg-brandbackground even:bg-brandsurface;
    }
}

@layer components {
    .tabtitle {
        @apply mb-5 text-xs uppercase tracking-widest text-brandtextsecondary;
    }

    .brand-btn {
        @apply transform rounded-md bg-brandprimary text-[0.6rem] uppercase tracking-[0.15rem] text-brandsecondary duration-300 hover:scale-[1.01] hover:font-bold hover:shadow-md hover:shadow-brandshadow;
    }
}

/* Blog Post Table of Contents */
.toc ul {
    list-style-type: none;
}

.toc li ul {
    list-style-type: none;
    padding-left: 1rem;
    margin-top: 0;
}

.grid-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* 12-column grid */
    gap: 1px; /* Adjust spacing */
    pointer-events: none; /* Allows clicking through the grid */
    z-index: 9999; /* Ensure it's on top */
}

.grid-overlay div {
    background: #000;
    opacity: 0.2; /* Semi-transparent columns */
}

/* Hidden field for spam prevention.bots detect "display:none" */
.company-input {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Main menu effect */
.main-menu > ul > li > a {
    position: relative;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease;
}

.main-menu > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initially hidden */
    height: 0.15rem;
    background-color: var(--brand-primary); /* Border color */
    transition: width 0.3s ease-in-out;
}

.main-menu > ul > li > a:hover::after {
    width: 100%;
}
